.list__product {

  button {
    width: 95% !important;
    background-color: #ffd814;
    border: none;
    color: #36404b;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
    font-size: 0.9em;
  }

  img {
    object-fit: cover;
    object-position: center center;
    max-width: 12rem;
    border-radius: 0.5rem 0.54rem 0 0;
  }

  h5 {
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .price {
    label {
            font-size: 0.8rem;

    }
  }
}
