.LoginFormClient{
    width: 100% !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgb(32, 33, 43);
    background-color: rgb(255, 255, 255);   
    height: 100vh;  
    

    .loginContent{
        height: 60vh;       
        display: flex;
        flex-direction: column;   
       padding: 30px;
        background-color: rgb(255, 255, 255);       
        border-radius: 5px;
      width: 300px;  
      h4{
        margin-bottom: 30px !important;
        border-bottom: solid 3px red;
      }
      .register{
        margin-top: 25px;
        display: flex;
       // text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid red;      
        border-radius: 5px;
        padding: 5px;
       
      }
    }
   
    .input{
        margin: 10px 0; 
    }
    button{
        margin-top: 20px;
    }
}

.closed{
  background-color: rgb(148, 5, 5);
  padding: 8px 25px;
  color: aliceblue;
  text-align: end;

}