.loginForm {
  text-align: center;
  justify-content: center;
  background-color: rgb(226, 10, 190);
  padding: 2rem;
  width: 18rem;
  border-radius: 0.5rem;


  .logo {
    // background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6rem;
    color: rgb(255, 190, 250);
  }
}
