.detailProduct {
  background-color: rgb(255, 255, 255);
  width: 100%;

  img {
    max-height: 40rem;
    max-width: 22rem;
    object-fit: cover;
    object-position: center;
  }

  h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b3b3b3;
  }

  .product {
    margin-top: 1px;
    // background-color: rgba(233, 234, 234, 0.344);
    .title {
      .name_extend {
        text-transform: uppercase;
      }

      .price {
        justify-content: center;
        align-items: center;

        > h5 {
          font-size: 1.2rem;
          color: #fd384f;
          font-weight: 600;
        }
      }
    }

    .description {
      position: relative;
      background-color: white;
      padding: 0.5rem;

      button {
        width: 95% !important;
        background-color: #ffd814;
        border: none;
        color: black;
        margin: 0.2rem 0;
      }

      .whatsapp {
        position: absolute;
        top: -4rem;
        right: 1rem;
        margin: 0.5rem;
        padding: 0.6rem;
        background-color: #76be1e;
        border-radius: 50%;
        -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.19);
      }
    }
  }

  .relate {
    padding: 10px;

    p {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
  }
}

.list {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

  &__product2 {
    background-color: rgb(254, 254, 254);
    position: relative;

    border-radius: 6px;

    .name {
      padding: 5px;
      text-align: center;
    }

    img {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      max-width: 6rem;
      max-height: 10rem;
      object-fit: cover;
      object-position: center center;
      // aspect-ratio: 3/4;
    }

    h5 {
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h6 {
      font-size: 0.9rem;
      line-height: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fd384f;
      font-weight: 800;
    }
  }
}

@media screen and (min-width: 800px) {
  .detailProduct {
    padding: 0 5rem 0 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));


    
  img {
    max-height: 30rem;
    max-width: 16rem;
  
  }
  }
}
