.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;

  .paneluser {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: solid 5px rgb(204, 220, 204);

    // -webkit-box-shadow: -1px 1px 15px 7px rgba(134, 134, 134, 0.53);
    // -moz-box-shadow: -1px 1px 15px 7px rgba(133, 133, 133, 0.53);
    // box-shadow: -1px 1px 15px 7px rgba(134, 134, 134, 0.53);

  }


}
