.formCategory {
   
  h1{
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px 40px 0px;
  }
  button{
    margin: 0px 0px 10px 0px;
  }

  .slug{
    white-space: nowrap;
  }
}
